@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <p>Masraf Takip Uygulaması <hr /> <b>Teknolojiler:</b> MVC + Entity FrameworkCore </p>

    <h1 class="display-4">Sisteme Hoş Geldin, Merhaba @ViewBag.Ad!</h1>
</div>
